@import 'tailwindcss';


@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}

@theme {

  --color-primary: hsl(25, 95%, 53%);;
  --color-secondary: hsl(43, 96%, 56%);;
  --color-tertiary: hsl(217, 33%, 17%);;
  --color-fondo-dark: hsl(222, 47%, 11%);;
  --color-fondo-light: hsl(210, 20%, 98%);;
  --font-Poppins: "Poppins";

}

