@import 'tailwindcss';

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf") format("woff2");
}

@theme {

  --color-primary: hsl(25, 95%, 53%);
  --color-secondary: hsl(43, 96%, 56%);
  --color-tertiary: hsl(217, 33%, 17%);
  --color-fondo-dark: hsl(222, 47%, 11%);
  --color-fondo-light: hsl(210, 20%, 98%);

  --font-Inter: "Inter";
  --font-Open-Sans: "Open Sans";
}

body{

  @apply font-Open-Sans

}

